  .app-header{
    height: 60px;

    h1{
        font-size: 15px;
        margin-top: -29px;
        font-style: normal !important; }
}

.app-log {
    height: 30px;
    animation: App-logo-spin infinite 20s linear;
    margin-top: 7px;
    g{
        fill: white;
    }

}

@media (max-width: 868px){

    .app-header{
    
        h1{
           color: black
        }
        .app-log {
            g{
                fill: black;
            }
        
        }
    }


}

.headl{
    height: 50px;
    transition: 0.3s ease;
}


.Flex_align_center{
    width: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
 }

 .margin_left{
     margin-left: 5px;
 }

.headlogo{
    height: 50px !important;
    
}

@media (min-width: 868px){
    .headl{
        height: 140px ;
        transition: 0.3s ease;      
    }
    
    .headlogo{
        height: 60px !important;
        width: 210px !important;
        padding-top: 0px !important;
        box-shadow: 0 2px 15px rgba(0,0,0,.26), 0 -1px 5px rgba(0,0,0,.2);
    }
}

  .dropdown{
      cursor: pointer !important;
  }
