.sidenav {
    left: -200px !important;
}

.sidenava {
    left: 0px;
    transition-delay: 0.1s;
}



.side-menu{

    padding: 0px;
    margin: 0px;

    .fa{
        position: absolute;
        margin-top: 25px;
        margin-left: -20px;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin-left: 0px;
    }

    a {
        position: absolute;
        width: 180px;
        height: 60px;
        line-height: 60px;
        padding-left: 45px;
        color: #686868;
        font-size: 12px;
        font-weight: 500;
    }

    .a-config{
        margin-top: 61px;
    }

    .a-general{
        margin-top: 122px;
    }

    .a-products{
        margin-top: 183px;
    }

    .a-users{
        margin-top: 244px;
    }

    .a-dashboard{
        margin-top: 305px;
    }

    a::after, a::before, span::after, span::before{
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        transition: 0.2s ease-out;
    }

    a::before{
        top: 2px;
        left: 2px;
        
        border-top: 0px;
        border-left: 0px;
    }
    a::after{

        top: 2px;
        right: 2px;

        border-top: 0px;
        border-right: 0px;
    }
    span::before{
        bottom: 2px;
        left: 2px; 

        border-bottom: 0px;
        border-left: 0px;
    }
    span::after{
        bottom: 2px;
        right: 2px; 

        border-bottom: 0px;
        border-right: 0px;
    }
    a:hover{
        text-decoration: none;
        color: black;
    }
    a:hover:before, a:hover:after, a:hover span:before , a:hover span:after{
            width: calc(14px / 2);
            height: calc(14px / 2);
    }
    a:hover:before{
        border-top: 2px solid rgb(108, 146, 236);
        border-left: 2px solid rgb(108, 146, 236);
    }
    a:hover:after{
        border-top: 2px solid rgb(108, 146, 236);
        border-right: 2px solid rgb(108, 146, 236);
    }
    a:hover span:before{
        border-bottom: 2px solid rgb(108, 146, 236);
        border-left: 2px solid rgb(108, 146, 236);
    }
    a:hover span:after{
        border-bottom: 2px solid rgb(108, 146, 236);
        border-right: 2px solid rgb(108, 146, 236);
    }
}


.active-l{

    a{
        color: black;
        font-size: 12px;
        font-weight: 500;
        transition: .2s ease-out;
        background-color: rgb(243, 243, 243)!important;
    }

    .fa{
        color: rgb(108, 146, 236);
    }

    a::after, a::before, span::after, span::before{
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: transparent;
        transition: 0.4s;
    }
    
    a::before{
        top: 2px;
        left: 2px;
        
        border-top: 2px solid rgb(108, 146, 236);
        border-left: 2px solid rgb(108, 146, 236);
    }
    a::after{
    
        top: 2px;
        right: 2px;
    
        border-top: 2px solid rgb(108, 146, 236);
        border-right: 2px solid rgb(108, 146, 236);
    }
    span::before{
        bottom: 2px;
        left: 2px; 
    
        border-bottom: 2px solid rgb(108, 146, 236);
        border-left: 2px solid rgb(108, 146, 236);
    }
    span::after{
        bottom: 2px;
        right: 2px; 
    
        border-bottom: 2px solid rgb(108, 146, 236);
        border-right: 2px solid rgb(108, 146, 236);
    }
}





@media (max-width: 768px) {

    .sidenav {
        left: 0px !important;
    }

    .sidenava {
        left: -200px;
    }

}

@media (max-width: 868px){
    .side-menu ul{
        margin-top: -100px
    }
}
